
<div class="navbar navbar-expand navbar-dark  menu mAdmin">
    <a class="linkMenu" href="/">Inicio</a>
    <a class="linkMenu" href="/admin">Listado Admin</a>
    <a class="linkMenu" href="/admin/peliculas/nueva">Nueva pelicula</a>
    <a class="linkMenu logout" href="/logout">Logout</a>
</div>