{% extends "admin_base.njk" %}
{% block titulo %} Peliculas | Listado{% endblock %}
{% block contenido %}
            <h1>Listado de películas (Admin)</h1>
            
                {% for pelicula in peliculas %}
                    <table width="100%">
                        <tr>
                            {% if loop.index % 2 == 0 %}
                                <td class="par">{{ pelicula.titulo }}</td>
                            {% else %}
                                <td class="impar">{{ pelicula.titulo }}</td>
                            {% endif %}
                            <td class="tdAdmin">
                                <form action="/admin/peliculas/{{pelicula.id}}" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                                <a class="btn btn-primary" href="/admin/peliculas/editar/{{ pelicula.id }}">Editar</a>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <p>No hay películas</p>
                {% endfor %}      
            
{% endblock %}