{% extends "public_base.njk" %}
{% block titulo %} Peliculas | Listado{% endblock %}
{% block contenido %}
    <h1>Listado de películas</h1>
    <div>
        <ul>
            {% for pelicula in peliculas %}
                <li>{{ pelicula.titulo }}</li>
                <li>{{ pelicula.sinopsi }}</li>
                <li>{{ pelicula.duracion }}</li>
                <li>{{ pelicula.genero }}</li>
                <li>{{ pelicula.imagen }}</li>
                <a class="btn btn-success" href="/peliculas/{{pelicula.id}}">Ver Ficha</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}