<div class="navbar navbar-expand navbar-dark bg-dark menu">
    <a class="linkMenu" href="/">Inicio</a>
    <a class="linkMenu" href="/admin/">Zona Admin</a>
    <a class="linkMenu logout" href="/logout">Logout</a>

</div>